body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("backgrounds/showmewhatyougot.png");
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  height: 200px;
  width: auto;
  transform-origin: center;
  transition: all 2s;
  position:absolute;
}
.portal{
  /*background-image: url("danceGifs/portal.gif");*/
  /*background-size: 100%;*/
  width: 0px;
  top: 44%;
  left: 44%;
  position: absolute;
  transform-origin: center center;
  transition: width 2s, top 1s, left 1s;
}